/* Colors */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=IBM+Plex+Sans&display=swap");

:root {
  --primary: #fff820;
  --font-dark: #1f1f1f;
  --font-light: #fff;

  --font: "IBM Plex Sans", sans-serif;
  --font-mono: "IBM Plex Mono", monospace;
}

html {
  font-size: 62.5%;
  font-family: var(--font);
  color: var(--font-dark);
}

body {
  padding: 0;
  margin: 0;
  font-size: 1.8rem;
}

h1 {
  font-size: 4.8rem;
}

h2 {
  font-size: 3.6rem;
}

h3 {
  font-size: 2.4rem;
}

h4 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.4rem;
}

a,
a:visited {
  color: var(--font-dark);
}


.container {
  width: 1200px;
  margin: 0 auto;
  padding: 2.4rem;
}

/* header */
header {
  background-color: var(--primary);
  display: flex;
  padding: 2.4rem;
  justify-content: space-between;
}

header a {
  text-decoration: none;
}

header .navigation {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

header .navigation a {
  padding: 2rem;
}
/* end header */

/* banner */
.title-banner--outer {
  background-color: var(--primary);
  height: 80vh;
  display: flex;
  align-items: center;
}

.title-banner h1 {
  font-size: 4.8rem;
}

.title-banner h1 small {
  display: block;
  font-size: 1.8rem;
  font-family: var(--font-mono);
  text-transform: uppercase;
}
/* end banner */

/* button */
.button {
  background-color: black;
  padding: 1rem 2rem;
  display: inline-block;
  color: var(--primary);
  text-decoration: none;
}
