/* Colors */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap");

html {
  --yellow: #FFF820;
  --black: #27282c;
  --white: #f5f5fb;
  --pink: #ff00c4;
  --teal: #00fff6;

  --font-title: "IBM Plex Mono", monospace;
  --font-code : var(--font-title);
  --font-reading: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  --font-size--grande: 9.6rem;
  --font-size--large: 7rem;
  --font-size--h1: 4.8rem;
  --font-size--h2: 3.6rem;
  --font-size--h3: 2.4rem;
  --font-size--h4: 1.8rem;
  --font-size--h5: 1.4rem;
  --font-size--p: 1.8rem;

  --letter-spacing: -2px;
  --word-spacing: -2rem;


  --space-large: var(--font-size--h1);
  --space-medium: var(--font-size--h3);
  --space-small: var(--font-size--h5);

  --base-max-width: 120rem;
  --grid-columns--base: repeat(6, minmax(0, 1fr));
  --grid-columns--large: repeat(8, minmax(0, 1fr));
  --grid-columns--three--two: 1fr 1fr 1fr;
  --grid-gap--base: calc(var(--space-medium) * 2);

  --grid-columns--large--centered: 2/6;
  --grid-columns--base--centered: 3/7;
  


  
  --color-background: var(--yellow);
  --color-text: var(--black);
  --color-selection: var(--teal);
  
  --color-gradient: linear-gradient(12deg, var(--teal) 0%, var(--pink) 100%);

  --box-shadow: inset 0 4px 7px 1px #fff,
  inset 0 -5px 20px rgba(173, 186, 204, .25),
  0 2px 6px rgba(0, 21, 64, .14),
  0 10px 20px rgba(0, 21, 64, .05);


/* 
  --base-max-width: 100rem;
  --base-grid-columns: repeat(6, minmax(0, 1fr));
  --large-grid-columns: repeat(8, minmax(0, 1fr));
  --base-grid-gap: var(--font-size--h3); */
}

html.darkmode {
  --color-background: var(--black);
  --color-text: var(--yellow);
  --color-selection: var(--pink);
  
}

@media (max-width: 1000px) {
  html {
    --font-size--h1: 3.6rem;
    --font-size--h2: 2.4rem;
    --font-size--h3: 1.8rem;
    --font-size--h4: 1.4rem;
    --font-size--h5: 1.4rem;
    --font-size--p: 1.6rem;
    --font-size--grande: 3.6rem;
    --space-large: var(--font-size--h3);
    --grid-columns--large--centered: 1/-1;
    --grid-columns--base--centered: 1/-1;
    --grid-columns--three--two: 1fr 1fr;
    --letter-spacing: 0;
    --word-spacing: 0;
  }
}

html {
  font-size: 62.5%;
  min-height: 100%;
  font-family: var(--font-reading);
  color: var(--color-text);
  background-color: var(--color-background);
  margin-bottom: 0;
  width: 100vw;
}


body {
  background: var(--bg);
  min-height: calc(100vh - var(--space-large));
  position: relative;
  margin: 0;
  padding-bottom: 50px;
}

/* html:after, html:before {
  content: "";
  will-change: top left;
  backface-visibility: hidden;
  position: fixed;
  top: 0;
  height: 100%;
  width: var(--space-small);
  background: var(--color-gradient);
  z-index: 21000;
} */

html:after {
  right: 0;
}
html:before {
  left: 0;
}

body:before,
html:after {
  transform: rotate(180deg);
}

body:after, body:before {
  content: "";
  backface-visibility: hidden;
  position: fixed;
  left: 0;
  width: 100%;
  height: var(--space-small);
  background: var(--color-gradient);
  z-index: 20000;
}
body:before {
  top: 0;
}
body:after {
  bottom: 0;
  position: absolute;
  width: 100%;
}

h1,h2,h3,h4,h5,.h1,.h2,.h3,.h4,.h5 {
  font-family: var(--font-title);
}
h1,
.h1 {
  font-size: var(--font-size--h1);
}

h2,
.h2 {
  font-size: var(--font-size--h2);
}

h3,
.h3 {
  font-size: var(--font-size--h3);
}

h4,
.h4 {
  font-size: var(--font-size--h4);
}

h5,
.h5 {
  font-size: var(--font-size--h5);
}

p {
  font-size: var(--font-size--p);
  line-height: 2;
}

ul,ol {
  font-size: var(--font-size--p);
  line-height: 2;
}
.lead-p {
  font-family: var(--font-title);
  font-size: var(--font-size--h3);
  line-height: 1.5;
  font-weight: bold;
}

a,
a:visited {
  color: var(--color-text);
  position: relative;
  text-decoration: none;
  transition: .3s all ease;
  font-weight: bold;
}
a:hover {
  text-shadow: 0px 0px 10px white;
}
a {
  text-decoration: none;
  background-image: var(--color-gradient);
  background-size: 100% 4px, 0 4px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: .3s all ease;
}

a:hover {
  background-size: 100% 20px, 100% 20px;
}

*::selection {
  background: var(--color-selection);
}


hr {
  background-color: none;
  height: 5px;
  border-style: none;
  border-width: 0;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
}
hr:after {
  content: "";
  display: block;
  background: var(--color-gradient);
  height: 100%;
  width: 100%;
}

.button {
  font-size: var(--font-size--h3);
  padding: var(--space-medium);
  text-shadow: 0px 0px 10px white;
  margin: 20px;
  
}

.button:after {
  content: "";
  height: 100%;
  height: 100%;
  width: 100%;
  left: 0%;
  transform: skew(8deg);
}


.button:before {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  background-color: var(--pink);
  height: 100%;
  width: 100%;
  left: -3px;
  bottom: -4px;
  transform: skew(8deg);
  z-index: -99;
  transition: .3s all ease;
}

.button:hover:before,
.button:focus:before {
  left: -10px;
  bottom: -10px;
}

/* header */
header {
  background-color: var(--primary);
  display: flex;
  justify-content: space-between;
  padding: var(--space-medium) 0;
  z-index: 9999;
}

header a {
  text-decoration: none;
  padding: 0 var(--space-medium);
  font-size: var(--font-size--h3);
  font-family: var(--font-title);
  background: none;
}

header .navigation {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

/* end header */

/* Layouts */
.layout {
  margin: var(--space-large);
  display: grid;
}

.layout.layout-post article {
  display: grid;
  grid-template-columns: var(--grid-columns--large);
  grid-column-gap: var(--grid-gap--base);
  grid-column: 1/-1;
}

.layout .title-banner {
  grid-column: 1/-1;
  margin-bottom: var(--space-large);
}
.layout.layout-post .content-wrapper {
  grid-column: var(--grid-columns--base--centered) ;
}


.layout.layout-content article  {
  display: grid;
  grid-template-columns: var(--grid-columns--base);
  grid-column-gap: var(--grid-gap--base);
  grid-column: 1/-1;
}

.layout.layout-content .content-wrapper {
  grid-column: var(--grid-columns--large--centered);
}




/* Title Banner */
.title-banner {
  text-align: center;
}
.title-banner h1 {
  font-family: var(--font-title);
  font-size: var(--font-size--grande);
  margin-bottom: var(--space-small);
  letter-spacing: var(--letter-spacing);
  word-spacing: var(--word-spacing);
}

.title-banner time {
  font-family: var(--font-title);
  font-size: var(--font-size--h3);
  margin-bottom: var(--space-medium);
  display: block;
}

.title-banner:after {
  content: "";
  display: block;
  height: 10px;
  width: 100%;
  background: var(--color-gradient);
}

.layout-home {
  grid-template-columns: 1fr 1fr;
  margin-top: 0;
  margin-bottom: 0;
}

.layout-home .title-banner {
  text-align: left;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.layout-home .title-banner:after {
  display: none;
}




.layout-home .title-banner h1 {
  font-size: var(--font-size--h3);
  margin-bottom: 16px;
  letter-spacing: 0;
  word-spacing: 0;
  text-align: left;
}

.layout-home canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  pointer-events: none;
}

/* End Title Banner */
/* Article Footer */
.article-footer {
  display: flex;
  width: 100%;
  padding-left: 0;
  list-style: none;
  justify-content: space-around;
}
/* End Article Footer*/
/* Start Article List */

/* End Article List */
/* Code */ 
code {
  font-family: var(--font-code);
}
/* End Code */

/* Project List */
.project-list {
  padding-left: 0;
  list-style: none;
  display: grid;
  grid-template-columns: var(--grid-columns--three--two);
  grid-gap: var(--space-large);

}
.project-list > .project-list--item .project-list--link {
  padding: 3rem;
  display: grid;
  place-items: center;
  background: var(--white);
  box-shadow: var(--box-shadow);
}

.project-list > .project-list--item .project-list--link:after {
  display: none;
}

.project-list > .project-list--item .project-list--link:before {
  content: "";
  display: block;
  padding-bottom: 100%;
  grid-area: 1 / 1 ;
}

.project-list > .project-list--item .project-list--link img,
.project-list > .project-list--item .project-list--link svg {
    width: 100%;
    grid-area: 1 / 1 ;
    filter: grayscale(100%);
    box-shadow: none;
    margin-bottom: 0;
}

.project-list--title {
  font-family: var(--font-code);
  line-height: 1.4;
  text-align: center;
  margin-top: var(--space-small);
}
/* .project-list--item:nth-child(odd) {
  transform: translateY(calc(-1 * var(--space-large)));
}
.project-list--item:nth-child(even) {
  transform: translateY(var(--space-large));
} */

/* Big Badda Button */
.button-big {
  font-size: var(--font-size--grande);
  font-family: var(--font-code);
  text-transform: uppercase;
  transform: skew(-8deg);
  padding: 2rem;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.button-big:after {
  content: "";
  background: var(--color-gradient);
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: -500px;
  z-index: -1;
  transition: .3s all ease;
}
.button-big:hover:after {
  left: 0;
}

.button-big span {
  transform: skew(8deg);
  display: inline-block;
}
/* Content Wrapper */

.content-wrapper h2 {
  margin-top: 150px;
}

.content-wrapper img {
  width: 100%;
  margin-bottom: 20px;
  box-shadow: var(--box-shadow);
}


/* Mockup Screens */
.device {
  border-radius: 20px;
  position: relative;
  box-sizing: border-box;
  background: #fff;
  box-shadow: var(--box-shadow);
}

.device img {
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, .24);
  box-shadow: none;
}

.device::before,
.device::after {
  content: "";
  display: block;
  position: absolute;
  background: #fff;
  box-shadow: var(--box-shadow);
}

.phone {
  padding: 12% 3%;
}

.phone.landscape {
  padding: 1.75% 8%;
}

.tablet {
  padding: 8% 2%;
}

.tablet.landscape {
  padding: 1.12% 6%;
}

.laptop {
  margin-left: 12%;
  margin-right: 12%;
  margin-bottom: 2.5%;
  border-radius: 1vw;
  padding: 1.35%;
}

.desktop {
  margin-bottom: 11%;
  border-radius: 1vw;
  padding: 1.5%;
}

/* // Phone button */
.phone::after {
  border-radius: 50%;
  margin: 0 auto 2%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 10%;
  height: 0;
  padding-top: 10%;
  box-shadow: inset 0 0 5px 1px rgba(0, 0, 0, .12);
}

.phone.landscape::after {
  margin: auto 0;
  left: calc(100% - 7%);
  top: 0;
  bottom: 0;
  width: 6%;
  padding-top: 6%;
}

/* Phone speaker */
.phone::before {
  border-radius: 50px;
  margin: 5.5% auto 0;
  left: 0;
  right: 0;
  top: 0;
  width: 20%;
  height: 1%;
  box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, .12);
}

.phone.landscape::before {
  margin: auto 0 auto 4.5%;
  left: 0;
  top: 0;
  bottom: 0;
  width: 1%;
  height: 20%;
}

/* // Tablet button */
.tablet::after {
  border-radius: 50%;
  margin: 0 auto 2%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 6%;
  height: 0;
  padding-top: 6%;
  box-shadow: inset 0 0 5px 1px rgba(0, 0, 0, .12);
}

.tablet.landscape::after {
  margin: auto 0;
  left: calc(100% - 5.25%);
  top: 0;
  bottom: 0;
  width: 4.5%;
  padding-top: 4.5%;
}

/* // Tablet camera */
.tablet::before {
  border-radius: 50%;
  margin: 3.5% auto 0;
  left: 0;
  right: 0;
  top: 0;
  width: 2.25%;
  height: 0;
  padding-top: 2.25%;
  background: #eee;
  box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, .12);
}

.tablet.landscape::before {
  margin: auto 0 auto 2.5%;
  left: 0;
  top: 0;
  bottom: 0;
  width: 1.75%;
  padding-top: 1.75%
}

/* // Bottom of laptop */
.laptop::after {
  border-radius: 4px 4px 48px 48px;
  left: -15%;
  bottom: -4%;
  width: 130%;
  height: 7%;
}

/* // Desktop arm */
.desktop::before {
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: -18%;
  width: 20%;
  height: 20%;
  background: #fafafa;
  z-index: -1;
}

/* // Bottom of desktop stand */
.desktop::after {
  border-radius: 4px 4px 24px 24px;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: -19.5%;
  width: 34%;
  height: 2%;
}

/* // Phone, tablet, and desktop together */
.device-collection {
  width: calc(100% + 400px);
  position: relative;
  margin-left: -200px;
  margin-right: -200px;
  margin-top: 50px;
  margin-bottom: 50px;
}

@media(max-width: 1000px) {
  .device-collection {
    width: unset;
    margin-left: unset;
    margin-right: unset;
  }
}

.device-collection::after {
  content: "";
  display: block;
  padding-top: 62.75%;
}

.device-collection .phone-container,
.device-collection .tablet-container,
.device-collection .desktop {
  position: absolute;
  bottom: 0;
}

.device-collection .phone,
.device-collection .tablet {
  margin: 0;
}

.device-collection .phone-container {
  left: 0;
  max-width: 15%;
  z-index: 2;
}

.device-collection .tablet-container {
  right: 0;
  max-width: 30%;
  z-index: 1;
}

.device-collection .desktop {
  left: 0;
  right: 0;
  margin: 0 5% 10.25%;
}

/* // May need to adjust this media query to get border-radius
// right on smaller screens. Unfortunately, border-radius as
// a percentage of parent container width doesn't work here. */
@media (max-width: 800px) {
  .device-collection .device {
    border-radius: 1vw;
  }
}

/* End Mockup Screens */
/* Start Image Comparison Slider */

@media(min-width: 1000px){
  .img-comp-container {
    width: calc(100% + 600px);
    height: 1800px;
    position: relative;
    margin-left: -300px;
    margin-right: -300px;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: var(--box-shadow);
  }
  
  .img-comp-img {
    position: absolute;
    width: auto;
    height: auto;
    overflow: hidden;
    height: 100%;
    width: 100%;
  }
  
  .img-comp-img img {
    display: block;
    vertical-align: middle;
    width: unset;
  }
  
  .img-comp-slider {
    position: absolute;
    z-index: 9;
    cursor: ew-resize;
    /*set the appearance of the slider:*/
    width: 100px;
    height: 100%;
    background-color: #2196F3;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .img-comp-slider:before {
    content: "drag me";
    display: block;
    color: white;
    font-size: 40px;
    text-align: center;
    font-family: var(--font-code);
  }
  /* End Image Comparison Slider */
}