---
layout: layouts/home.njk
tag: introduction
title: Home
tagline: I'm Mathias Rechtzigel, <br> Pronounced (Rex Seagull).<br><br> I'm a creative technologist,<br> focused on building a more fun and accessible world wide web.
metadata:
  title: Mathias Rechtzigel
bannerCTA:
    text: More about me
    href: /about
---
{% set maxPosts = collections.posts.length | min(3) %}
{% set totalPosts = collections.posts.length %}
<h2 class="section-head">Recent Writing</h2>

{% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}
{% include "components/postslist.njk" %}



<p>Showing {% if maxPosts == 1 %}Post{% else %}{{ maxPosts }} Posts{% endif %}. Find {{ totalPosts }} more articles in the <a href="{{ '/posts/' | url }}">the archive</a>.</p>
