---
layout: layouts/home.njk
tag: introduction
title: Home
tagline: I'm Mathias Rechtzigel, <br> Pronounced (Rex Seagull).<br><br> I'm a creative technologist,<br> focused on building a more fun and accessible world wide web.
metadata:
  title: Mathias Rechtzigel
bannerCTA:
    text: More about me
    href: /about
---
