---
layout: layouts/content.njk
permalink: /portfolio/
templateClass: layout-content
tagline: Portfolio
title: Portfolio
eleventyNavigation:
  key: Portfolio
  order: 4
---

{% set projectslist = collections.projects %}
{% include "components/projectslist.njk" %}
