---
layout: layouts/content.njk
permalink: /work/
templateClass: layout-content
tagline: Portfolio
title: Work
eleventyNavigation:
  key: Work
  order: 4
---

{% set projectslist = collections.projects %}
{% include "components/projectslist.njk" %}
