---
layout: layouts/content.njk
permalink: /work/
templateClass: layout-content
title: Work
socialImage: https://www.mathiasrechtzigel.com/img/social/social-mathias-work.png
url: https://www.mathiasrechtzigel.com/work
eleventyNavigation:
  key: Work
  order: 4
---

<p>These aren’t full case studies. They highlight key moments where my design, research, or leadership made an impact, showing how I tackle complex problems simply.</p>
{% set projectslist = collections.work %}
{% include "components/projectslist.njk" %}
