---
layout: layouts/content.njk
templateClass: layout-content
permalink: /writing/
title: Writing
tagline: Writing

---

{% set postslist = collections.posts %}
{% include "components/postslist.njk" %}
