---
layout: layouts/home.njk
templateClass: layout-post
permalink: /writing/
title: Writing
tagline: Writing
eleventyNavigation:
  key: Writing
  order: 3
---

{% set postslist = collections.posts %}
{% include "components/postslist.njk" %}
