<section class="title-banner title-banner--outer">
  <div class="title-banner--inner">
    <h1>
      <small>
            {%- for tag in tags | filterTagList -%}
            {%- set tagUrl %}/tags/{{ tag | slug }}/{% endset -%}
            <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}
            </a>
            {%- endfor %}
      </small>
      {{ title | safe}}
    </h1>
    <time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
  </div>
</section>
