<section class="title-banner title-banner--outer">
    <h1>
      {{ title | safe}}
    </h1>
    <p class="lead-p"></p>
    {%- if date  %}
      <time datetime="{{ page.date | htmlDateString }}">Posted on: {{ page.date | readableDate }}</time>
    {%- endif %}
</section>
