<section class="title-banner">
    <h1>
      <small class="section-head">{{ tag }}</small>
      {{ tagline | safe}}
    </h1>
    {%- if bannerCTA %}
      <a class="button" href={{bannerCTA.href}}>{{bannerCTA.text}}</a>
    {%- endif %}
</section>
