<section class="title-banner title-banner--outer">
  <div class="title-banner--inner">
    <h1>
      <small><a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a></small>
      {{ title | safe}}
    </h1>
    <a class="button" href="button">More about me</a>
  </div>
</section>
