
<ol class="project-list">
{% for project in projectslist | reverse %}
  <li class="project-list--item">
    <a href="{{ project.url | url }}" class="project-list--link">
      <img src={{project.data.logo}} alt={{project.data.title}}/>
    </a>
  </li>
{% endfor %}

</ol>
