<section class="title-banner title-banner--outer">
  <div class="title-banner--inner">
    <h1>
      <small>Introduction</small>
      Experience Technologist,<br>focused on creating an internet<br>that works for everyone.
    </h1>
    <a class="button" href="button">More about me</a>
  </div>
</section>
