---
layout: layouts/base.njk
templateClass: layout-content
---

<article>
    {% include "components/content-title.njk" %}
    <div class="content-wrapper">
    {{ content | safe }}
    </div>
</article>