---
layout: layouts/base.njk
templateClass: layout-post
---

<article>
  {% include "components/article-banner.njk" %}
  <div class="content-wrapper">
  {{ content | safe }}
  </div>
</article>


{%- set nextPost = collections.writing | getNextCollectionItem(page) %}
{%- set previousPost = collections.writing | getPreviousCollectionItem(page) %}
{%- if nextPost or previousPost %}
<hr>
<div class="article-footer">
  {%- if nextPost %}<a href="{{ nextPost.url | url }}" class="button"> Next: {{ nextPost.data.title }}</a>{% endif %}
  {%- if previousPost %}<a href="{{ previousPost.url | url }}" class="button">Previous: {{ previousPost.data.title }}</a>{% endif %}
</div>
{%- endif %}
